#page-desktop{
	background-color: #D86551!important;
}
.hero-and-content{
	background-color: #D86551!important;
}
.web-footer{
	background-color: #D86551!important;
	border:0!important;
}
.web-footer .footer-links{visibility: hidden;}
.navbar-brand {padding:0px!important;padding-top:10px!important;}
.erpnext-icon{
width:120px!important;
height:15px;
margin-right:10px;
}
.dropdown-help{display:none!important;}
.form-footer p a {color:white!important;}
